html, body {
  height:100%;
}
body {
  color:#555;
  background-color:#fafafa;
}

.wrapper {
  min-height:100%;
  margin-bottom:-100px;
}

footer {
  color:#F5F5F5;
  background-color:#66ff66;
  height:100px;
}