html, body {
  height:100%;
}
body {
  background-color:#fafafa;
  color:#555;
}

#wrapper {
  min-height:100%;
  position:relative;
}

header {
  background-color:#44bbbb;
  color:#fafafa;
}
header canvas#logo {
  margin:10px 10px 10px 30px;
}
header span#bit {
  color:#bb4444;
}

#main {
  padding-bottom:100px;
}

.btn-primary {
  background-color:#44bbbb;
  background-image:-webkit-linear-gradient(top, #7ccfcf, #308383);
}
.btn-primary:hover {
  background-color:#308383;
}

#card-collection ul, #tag-collection ul {
  margin-left:0;
  list-style:none;
  border:1px solid #44bbbb;
  border-radius:20px;
  padding:10px 0;
}
#card-collection li, #tag-collection li {
  margin:0 20px;
}

footer {
  background-color:#44bbbb;
  color:#fafafa;
  position:absolute;
  bottom:0;
  width:100%;
  height:100px;
}
