#card-collection,
#tag-collection
  ul
    margin-left: 0
    list-style: none
    border: 1px solid #44bbbb
    border-radius: 20px
    padding: 10px 0

  li
    margin: 0 20px

.collection-loading
  p
    font-style: italic
    text-align: center
  img
    margin: 0 auto
    display: block
