*,
*:before,
*:after
  box-sizing: border-box

html,
body
  height: 100%

body
  font-family: $font-family
  background-color: $color-bg
  color: $color-fg

header
  background-color: $color-primary-norm
  color: $color-bg
  height: 100px
  padding: 25px 0

  .navbar-brand
    color: $color-bg
    font-size: 60px
    position: relative
    height: 100%
    margin-right: 40px

  .nav a
    color: $color-bg
    border-bottom: 3px inset transparent
    &:hover,
    &:focus,
    &:active
      border-color: $color-accent-norm
      background-color: initial

  canvas
    position: absolute
    top: 0
    left: 15px
    margin: 5px 0

  canvas#logo
    display: inline-block
    top: -20px
  canvas#logo-shrink
    display: none

  span#tad
    padding-left: 90px

  span#bit
    color: $color-accent-norm

  .navbar-toggle .icon-bar
    background-color: $color-bg

header.shrink
  height: auto
  padding: 0

  .navbar-brand
    font-size: 30px
    margin-right: 0

  canvas#logo
    display: none
  canvas#logo-shrink
    display: inline-block

  span#tad
    padding-left: 45px

#wrapper
  margin-top: 100px

.btn-primary
  background-color: $color-primary-norm
  border-color: darken($color-primary-norm, 5%)

  &:hover,
  &:active,
  &:focus
    background-color: darken($color-primary-norm, 12%)
    border-color: darken($color-primary-norm, 14%)
