html,
body
  height: 100%

body
  background-color: #fafafa
  color: #555555

#wrapper
  min-height: 100%
  position: relative

header
  background-color: #44bbbb
  color: #fafafa

  canvas#logo
    margin: 10px 10px 10px 30px

  span#bit
    color: #bb4444

#main
  padding-bottom: 100px

.btn-primary
  background-color: #44bbbb
  background-image: -webkit-linear-gradient(top, #7ccfcf, #308383)

  &:hover
    background-color: #308383

footer
  background-color: #44bbbb
  color: #fafafa
  position: absolute
  bottom: 0
  width: 100%
  height: 100px

@import 'loading'
@import 'collections'
