<!doctype html>
<html lang="en">
<head>
  <meta content="utf-8">
  <link rel="stylesheet" type="text/css"
        href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
  <div id="wrapper">
    <header>
      <div class="container">
        <div class="row">
          <canvas class="span" id="logo" width="40" height="40"></canvas>
          <h1>Tad<span id="bit">bit</span></h1>
        </div>
      </div>
    </header>
    <div id="main" class="container">
      <div class="row">
        <h3 class="span4">Add Cards</h3>
        <h3 class="span4">Cards</h3>
        <h3 class="span4">Tags</h3>
      </div>
      <div class="row">
        <form id="card-add" class="span4">
          <fieldset>
            <label for="input-question">Question</label>
            <input type="text" id="input-question" />
            <label for="input-answer">Answer</label>
            <input type="text" id="input-answer" />
            <label for="input-difficulty">Difficulty</label>
            <select id="input-difficulty">
              <option>easy</option>
              <option>medium</option>
              <option>hard</option>
            </select>
            <label for="input-tags">Tags</label>
            <input type="text" id="input-tags" />
            <div>
              <button id="add-submit" type="button"
                      class="btn btn-primary">Submit</button>
              <button id="add-reset" type="reset"
                      class="btn">Reset</button>
            </div>
          </fieldset>
        </form>
        <div id="card-collection" class="span4">
          <div id="card-collection-loading">
            <p>Loading card data...</p>
            <img src="img/ajax-loader.gif" alt="Loading card data...">
          </div>
        </div>
        <div id="tag-collection" class="span4"></div>
      </div>
    </div>
    <footer>
      <div class="container">
      </div>
    </footer>
  </div>
</body>
<script type="text/template" id="card-template">
  <li class="card-id"><%= _id %></li>
  <li class="question"><%= question %></li>
  <li class="answer"><%= answer %></li>
  <li class="difficulty"><%= difficulty %></li>
  <li class="tags"><%= tags %></li>
</script>
<script type="text/javascript"
        src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
</script>
<script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js">
</script>
<script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.10/backbone-min.js">
</script>
<script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.0/bootstrap.min.js">
</script>
<script type="text/javascript" src="js/script.js"></script>
</html>
