<!doctype html>
<html lang="en">
<head>
  <meta content="utf-8">
  <link rel="stylesheet" type="text/css"
        href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
  <div class="wrapper">
    <header>
      <div class="container">
        <div class="row">
          <canvas class="span" id="logo" width="40" height="40"></canvas>
          <h1>Tad<span id="bit">bit</span></h1>
        </div>
      </div>
    </header>
    <div class="container">
      <div class="row">
        <h3 class="span4">Add Cards</h3>
        <h3 class="span4">Cards</h3>
        <h3 class="span4">Tags</h3>
      </div>
      <div class="row">
        <form id="card_add" class="span4">
          <fieldset>
            <label for="input_question">Question</label>
            <input type="text" id="input_question" />
            <label for="input_answer">Answer</label>
            <input type="text" id="input_answer" />
            <label for="input_difficulty">Difficulty</label>
            <select id="input_difficulty">
              <option>easy</option>
              <option>medium</option>
              <option>hard</option>
            </select>
            <label for="input_tags">Tags</label>
            <input type="text" id="input_tags" />
            <div>
              <button id="add_submit" type="button"
                      class="btn btn-primary">Submit</button>
              <button id="add_reset" type="reset"
                      class="btn">Reset</button>
            </div>
          </fieldset>
        </form>
        <div id="card_collection" class="span4"></div>
        <div id="tag_collection" class="span4"></div>
      </div>
    </div>
  </div>
  <footer>
    <div class="container">
    </div>
  </footer>
</body>
<script type="text/template" id="card_template">
  <li class="card_id"><%= _id %></li>
  <li class="question"><%= question %></li>
  <li class="answer"><%= answer %></li>
  <li class="difficulty"><%= difficulty %></li>
  <li class="tags"><%= tags %></li>
</script>
<script type="text/javascript"
        src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
</script>
<script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js">
</script>
<script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js">
</script>
<script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.1/bootstrap.min.js">
</script>
<script type="text/javascript" src="js/script.js"></script>
</html>